<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Empresa Portuaria Nacional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Noticias</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Quienes somos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Bienvenida</a></li>
                        <li><a class="dropdown-item" href="#">Misión</a></li>
                        <li><a class="dropdown-item" href="#">Organigrama</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Puertos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Comerciales</a></li>
                        <li><a class="dropdown-item" href="#">Turisticos</a></li>
                    </ul>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">OAIP</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Estadísticas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Documentos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Comerciales</a></li>
                        <li><a class="dropdown-item" href="#">Turisticos</a></li>
                    </ul>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Correo</a>
                </li>
            </ul>
            <div class="ps-xl-3">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</header>

@RenderBody()

<footer>
    <div class="bubbles">
        <div class="bubble" style="--size:5.301424935965559rem; --distance:9.804895260980505rem; --position:50.030915632078454%; --time:2.333996379112498s; --delay:-3.6402574732262334s;"></div>
        <div class="bubble" style="--size:4.805549274086706rem; --distance:7.888154170416637rem; --position:38.196007677191254%; --time:3.4878689368581877s; --delay:-2.660373820407874s;"></div>
        <div class="bubble" style="--size:5.829545557283809rem; --distance:7.18649717140687rem; --position:86.46187729919585%; --time:2.4158612881383017s; --delay:-2.2567202460410125s;"></div>
        <div class="bubble" style="--size:3.993581970106532rem; --distance:6.574650517765352rem; --position:51.45756279257839%; --time:2.1567258124003645s; --delay:-2.7399336787552064s;"></div>
        <div class="bubble" style="--size:4.72432417587528rem; --distance:7.5489490401011246rem; --position:56.77818997811731%; --time:3.165237540151324s; --delay:-2.1912770295570443s;"></div>
        <div class="bubble" style="--size:2.823908198449634rem; --distance:7.414417487139302rem; --position:54.65198735784446%; --time:3.129810870434279s; --delay:-2.7514511294492183s;"></div>
        <div class="bubble" style="--size:2.5368703956357184rem; --distance:8.836934074555174rem; --position:26.638323733144375%; --time:3.3038841139788375s; --delay:-2.639619289531225s;"></div>
        <div class="bubble" style="--size:5.393538560873824rem; --distance:9.724374485528347rem; --position:40.23166900684019%; --time:3.6250246382282865s; --delay:-3.7743974573525376s;"></div>
        <div class="bubble" style="--size:4.506647861470143rem; --distance:9.493223482533928rem; --position:-2.5250419942113655%; --time:3.149775335076959s; --delay:-2.185418726246442s;"></div>
        <div class="bubble" style="--size:2.64610418265228rem; --distance:9.722023876090716rem; --position:71.58973102716698%; --time:2.8195109860351555s; --delay:-2.4075217088202145s;"></div>
        <div class="bubble" style="--size:3.9090843924953322rem; --distance:7.923165897044637rem; --position:8.301064213420696%; --time:3.628025223976661s; --delay:-2.0651859704514326s;"></div>
        <div class="bubble" style="--size:4.228485268808479rem; --distance:7.362131986613683rem; --position:1.7054202581144633%; --time:2.346042742009796s; --delay:-3.72980260731102s;"></div>
        <div class="bubble" style="--size:2.1290988798888364rem; --distance:7.153357798189848rem; --position:47.906758215798114%; --time:3.3735870394223904s; --delay:-2.7033356567548594s;"></div>
        <div class="bubble" style="--size:2.8561433611622347rem; --distance:7.798080026858849rem; --position:95.71591085327871%; --time:2.8678722291994068s; --delay:-2.0740122197319346s;"></div>
        <div class="bubble" style="--size:5.313823085147932rem; --distance:7.70482239213902rem; --position:4.578192867123192%; --time:3.888307462349964s; --delay:-2.992687129352372s;"></div>
        <div class="bubble" style="--size:5.716055101655447rem; --distance:7.860332917047327rem; --position:-0.9586902285884396%; --time:2.088053335600864s; --delay:-3.5491194170149827s;"></div>
        <div class="bubble" style="--size:2.064772026915314rem; --distance:9.902304760788393rem; --position:97.17662775644705%; --time:2.9950343176347545s; --delay:-2.6146468783090895s;"></div>
        <div class="bubble" style="--size:5.665113857720547rem; --distance:7.524027715819091rem; --position:6.370570956530049%; --time:2.6150405903110996s; --delay:-3.9205915044080437s;"></div>
        <div class="bubble" style="--size:2.5867198088734424rem; --distance:7.387985960678955rem; --position:71.75000301341579%; --time:3.9397726226618435s; --delay:-2.1906369502642957s;"></div>
        <div class="bubble" style="--size:5.3380523725528795rem; --distance:9.454935582075457rem; --position:60.04342898100646%; --time:3.1346463817104913s; --delay:-2.997705573068592s;"></div>
        <div class="bubble" style="--size:3.306011552202147rem; --distance:7.027730669645317rem; --position:10.860897721746475%; --time:3.0799739203187633s; --delay:-2.76992268520444s;"></div>
        <div class="bubble" style="--size:3.455049853187899rem; --distance:8.403928589619294rem; --position:29.985877789900435%; --time:2.3741848239120866s; --delay:-2.577751211346449s;"></div>
        <div class="bubble" style="--size:2.049942204997775rem; --distance:9.684944929726228rem; --position:31.644073901873064%; --time:2.944459861572524s; --delay:-3.8623864089656155s;"></div>
        <div class="bubble" style="--size:2.6946047450368837rem; --distance:9.334991021830032rem; --position:53.547091325618034%; --time:2.9545922642612115s; --delay:-3.4541290479892424s;"></div>
        <div class="bubble" style="--size:3.129394308368714rem; --distance:6.4897527345418515rem; --position:35.5912678292039%; --time:2.600644601328402s; --delay:-2.643108189830653s;"></div>
        <div class="bubble" style="--size:4.110706138697051rem; --distance:6.186297831421784rem; --position:6.8939644134551%; --time:2.408847365613567s; --delay:-3.8773772415838033s;"></div>
        <div class="bubble" style="--size:3.834755274381525rem; --distance:7.856485344365003rem; --position:50.077793185083465%; --time:2.9684649381842543s; --delay:-3.5842188173071854s;"></div>
        <div class="bubble" style="--size:4.786317831620826rem; --distance:6.002010093452219rem; --position:18.53999221714817%; --time:2.116875700760132s; --delay:-3.2361761685693033s;"></div>
        <div class="bubble" style="--size:4.155919598794392rem; --distance:6.048909226205426rem; --position:27.063223435411764%; --time:3.3931722603034666s; --delay:-2.07408975224237s;"></div>
        <div class="bubble" style="--size:5.266967494485053rem; --distance:7.568028800573367rem; --position:72.9038596158301%; --time:2.0195178570312247s; --delay:-2.069476783126408s;"></div>
        <div class="bubble" style="--size:3.3063875902502424rem; --distance:6.731992940706349rem; --position:15.699485930569526%; --time:2.223310949636968s; --delay:-2.096336633831932s;"></div>
        <div class="bubble" style="--size:2.972750750371758rem; --distance:6.889423867636794rem; --position:2.30366582774802%; --time:3.936363190214671s; --delay:-3.7167306510691027s;"></div>
        <div class="bubble" style="--size:2.3027855139783844rem; --distance:9.24114610199167rem; --position:65.1065879624899%; --time:3.015102607809654s; --delay:-2.0093422270907997s;"></div>
        <div class="bubble" style="--size:4.677310547831883rem; --distance:9.934828910505747rem; --position:33.516971343222686%; --time:2.004284056819342s; --delay:-3.0024664043418516s;"></div>
        <div class="bubble" style="--size:4.9690600612222156rem; --distance:6.055146332498188rem; --position:29.97834226987905%; --time:2.8823283035925797s; --delay:-2.252763749849113s;"></div>
        <div class="bubble" style="--size:5.563912251481993rem; --distance:9.825395197830149rem; --position:-2.360622903200482%; --time:2.801110167512975s; --delay:-2.9862544821339645s;"></div>
        <div class="bubble" style="--size:3.381767870580001rem; --distance:9.924544270098416rem; --position:35.44930563992031%; --time:2.548243495773179s; --delay:-2.1735620631130557s;"></div>
        <div class="bubble" style="--size:5.5710314299244805rem; --distance:8.168158755637105rem; --position:9.236248030920962%; --time:3.711116419083388s; --delay:-2.6941231815038136s;"></div>
        <div class="bubble" style="--size:5.566032126351404rem; --distance:8.387793608367119rem; --position:95.82238728776912%; --time:3.4497260562097827s; --delay:-3.5557791181757654s;"></div>
        <div class="bubble" style="--size:5.471428216613406rem; --distance:7.632976743469732rem; --position:89.70770148773688%; --time:3.6209281091383017s; --delay:-2.5004487811713707s;"></div>
        <div class="bubble" style="--size:4.029219177863398rem; --distance:6.231274036904321rem; --position:54.93372224502082%; --time:3.777689790576142s; --delay:-2.238698592866547s;"></div>
        <div class="bubble" style="--size:2.126843432144349rem; --distance:6.956120572303919rem; --position:103.42665750638358%; --time:2.025430621719732s; --delay:-2.50374907201798s;"></div>
        <div class="bubble" style="--size:4.282616528084555rem; --distance:9.405132315131706rem; --position:12.596473998202235%; --time:2.7848049601675124s; --delay:-2.7671912151440936s;"></div>
        <div class="bubble" style="--size:5.436701233890004rem; --distance:8.836811565442677rem; --position:37.14815084181234%; --time:3.6874186996299985s; --delay:-2.2081882202182825s;"></div>
        <div class="bubble" style="--size:2.403965869003808rem; --distance:8.894229759028924rem; --position:22.935901529771723%; --time:2.572092459546466s; --delay:-3.584004583744177s;"></div>
        <div class="bubble" style="--size:5.829832775294612rem; --distance:8.512928305256466rem; --position:3.886016380919381%; --time:3.1744292100705955s; --delay:-3.9594339059673502s;"></div>
        <div class="bubble" style="--size:3.815408752667933rem; --distance:8.05483725180334rem; --position:27.336774012740143%; --time:2.7194413140718754s; --delay:-2.5302956893274207s;"></div>
        <div class="bubble" style="--size:3.380904807874142rem; --distance:9.2540401439344rem; --position:100.62606622162144%; --time:2.930914479045913s; --delay:-3.812445496224739s;"></div>
        <div class="bubble" style="--size:2.7956598442569165rem; --distance:6.47145166106954rem; --position:-1.1077253526017716%; --time:3.959268553109575s; --delay:-2.4854731093082565s;"></div>
        <div class="bubble" style="--size:2.474360873349597rem; --distance:7.920454670796875rem; --position:3.145002224870426%; --time:3.831225278298878s; --delay:-2.9037369594331115s;"></div>
        <div class="bubble" style="--size:2.930780236329942rem; --distance:9.242522015651936rem; --position:25.250281891405685%; --time:3.098982577477166s; --delay:-2.0587780003390277s;"></div>
        <div class="bubble" style="--size:3.5994667661185487rem; --distance:6.328632572343859rem; --position:42.763698368297646%; --time:2.686021370752762s; --delay:-3.542541501660963s;"></div>
        <div class="bubble" style="--size:5.557859631355375rem; --distance:7.3862780455760495rem; --position:15.944587557943375%; --time:2.6518102245465864s; --delay:-2.2220119235360154s;"></div>
        <div class="bubble" style="--size:2.839812984189847rem; --distance:8.096073955207308rem; --position:43.19300104228924%; --time:2.82524576753822s; --delay:-2.2425534785828405s;"></div>
        <div class="bubble" style="--size:5.882911470107429rem; --distance:8.617672085863045rem; --position:4.758478602023706%; --time:3.2992196301877446s; --delay:-3.14939073091359s;"></div>
        <div class="bubble" style="--size:2.0928727102169233rem; --distance:6.973753289779268rem; --position:40.86072621936034%; --time:3.9421006855479668s; --delay:-3.878839345946205s;"></div>
        <div class="bubble" style="--size:5.491932793642959rem; --distance:8.613015428634291rem; --position:49.496696332366945%; --time:2.9679743368523175s; --delay:-2.751915548973429s;"></div>
        <div class="bubble" style="--size:5.841695275201619rem; --distance:6.3304045214718725rem; --position:16.498993711895977%; --time:3.6042077340946848s; --delay:-3.121088370803435s;"></div>
        <div class="bubble" style="--size:5.601639577479468rem; --distance:6.835769348804087rem; --position:5.146263168020429%; --time:3.8673228750911597s; --delay:-3.1096848161641977s;"></div>
        <div class="bubble" style="--size:2.1196586613515676rem; --distance:9.623895850614364rem; --position:68.13693904702252%; --time:2.021767928327507s; --delay:-3.9458888340098612s;"></div>
        <div class="bubble" style="--size:4.239474036791734rem; --distance:8.538664736262287rem; --position:-0.2700786117574294%; --time:3.5497425637689943s; --delay:-2.406549924367084s;"></div>
        <div class="bubble" style="--size:4.2008664581126975rem; --distance:9.351157871381918rem; --position:8.800740568674751%; --time:3.3790670101383795s; --delay:-3.780813801489827s;"></div>
        <div class="bubble" style="--size:3.6429320467947717rem; --distance:7.154429322502164rem; --position:82.69958755721105%; --time:3.8667019410483796s; --delay:-2.988465872068829s;"></div>
        <div class="bubble" style="--size:3.645337569028235rem; --distance:6.4723367876283255rem; --position:12.284987086178745%; --time:2.866784178600981s; --delay:-3.1940889043002128s;"></div>
        <div class="bubble" style="--size:3.324523275497355rem; --distance:6.448344142429711rem; --position:64.09754633909638%; --time:3.461262709884329s; --delay:-2.6516519269680217s;"></div>
        <div class="bubble" style="--size:3.6152687678746327rem; --distance:8.240608519750003rem; --position:22.09355978983196%; --time:3.544977297695144s; --delay:-3.782200603583336s;"></div>
        <div class="bubble" style="--size:3.398887858446157rem; --distance:6.905129679404044rem; --position:28.361273966238194%; --time:3.457757904071897s; --delay:-3.358505095183329s;"></div>
        <div class="bubble" style="--size:4.397331502473083rem; --distance:7.510105289832307rem; --position:21.17088731556594%; --time:2.5951042327869396s; --delay:-2.2279532979370202s;"></div>
        <div class="bubble" style="--size:5.024071485820779rem; --distance:6.529260153831114rem; --position:47.08559941149386%; --time:3.8683425707757775s; --delay:-2.543508965069219s;"></div>
        <div class="bubble" style="--size:4.740301143066277rem; --distance:7.358147494693114rem; --position:45.12663133658193%; --time:2.743593094337337s; --delay:-3.6496550968203074s;"></div>
        <div class="bubble" style="--size:2.2267372655583193rem; --distance:7.145081320634433rem; --position:42.13228085685776%; --time:2.7247904466801445s; --delay:-3.563858741290431s;"></div>
        <div class="bubble" style="--size:5.677485703860319rem; --distance:6.453496572455576rem; --position:64.5687422389387%; --time:3.599868402037805s; --delay:-2.2141038088893765s;"></div>
        <div class="bubble" style="--size:4.995019629609971rem; --distance:8.111027784317235rem; --position:1.304992824213791%; --time:3.4546106341571283s; --delay:-2.1421295764662194s;"></div>
        <div class="bubble" style="--size:5.792561223213101rem; --distance:7.047981090104734rem; --position:57.415140169167515%; --time:3.0542193247349676s; --delay:-3.5993032111022476s;"></div>
        <div class="bubble" style="--size:5.7418244578836735rem; --distance:8.457492706426944rem; --position:30.293293452431136%; --time:3.662130619996797s; --delay:-3.4639988518601297s;"></div>
        <div class="bubble" style="--size:3.452913379939611rem; --distance:6.3636126236362465rem; --position:52.31314765032403%; --time:2.0325609650969962s; --delay:-3.1625325880205852s;"></div>
        <div class="bubble" style="--size:5.101483983175682rem; --distance:9.719540470743214rem; --position:62.71877505412334%; --time:3.2740141903330247s; --delay:-2.3990454800388608s;"></div>
        <div class="bubble" style="--size:4.76070600874783rem; --distance:9.796760770047662rem; --position:16.959045968253182%; --time:3.353497844989393s; --delay:-3.8376252977070515s;"></div>
        <div class="bubble" style="--size:5.44653930261151rem; --distance:8.266008210637992rem; --position:24.524205199898958%; --time:3.0725026996372713s; --delay:-2.263379555443715s;"></div>
        <div class="bubble" style="--size:5.511204377329065rem; --distance:6.380465435504966rem; --position:40.054213042554835%; --time:3.2484962784708538s; --delay:-2.2077891654786943s;"></div>
        <div class="bubble" style="--size:3.085923075981019rem; --distance:7.409251700781843rem; --position:97.91595142722629%; --time:2.2623878905139083s; --delay:-2.7331711238310405s;"></div>
        <div class="bubble" style="--size:2.3528210722852494rem; --distance:8.992631414522855rem; --position:85.76342612388795%; --time:2.9256043683506796s; --delay:-2.6499869734527914s;"></div>
        <div class="bubble" style="--size:4.451279986017826rem; --distance:9.295577103693045rem; --position:1.8207285746489283%; --time:3.4930394610221764s; --delay:-2.6401369284871206s;"></div>
        <div class="bubble" style="--size:4.619586604274984rem; --distance:9.888077286082712rem; --position:50.2585740345786%; --time:3.1571049506908433s; --delay:-2.769633641486037s;"></div>
        <div class="bubble" style="--size:3.287856886069595rem; --distance:6.464510048433726rem; --position:-3.429646152739698%; --time:3.8236737171653505s; --delay:-3.9151985942625354s;"></div>
        <div class="bubble" style="--size:3.972353641759498rem; --distance:7.720468947681088rem; --position:-1.7921471575351178%; --time:3.9610856943178367s; --delay:-3.5769727729846945s;"></div>
        <div class="bubble" style="--size:2.0726247848587738rem; --distance:6.267273836570695rem; --position:101.45581094285636%; --time:3.7576718387444306s; --delay:-2.4131327009328083s;"></div>
        <div class="bubble" style="--size:4.018315950805597rem; --distance:9.021321513810584rem; --position:29.21655616713305%; --time:3.5952821400087074s; --delay:-3.546949928224818s;"></div>
        <div class="bubble" style="--size:3.1278620997809874rem; --distance:6.132565271743374rem; --position:43.19321642348493%; --time:2.5969961175913623s; --delay:-3.775116890166423s;"></div>
        <div class="bubble" style="--size:4.820001652754582rem; --distance:7.122565300362798rem; --position:-0.3816596220831503%; --time:3.8477791863396096s; --delay:-3.4933057661376825s;"></div>
        <div class="bubble" style="--size:3.302333833605929rem; --distance:6.195329131543285rem; --position:27.401569949561946%; --time:2.966143532153717s; --delay:-2.142191213763715s;"></div>
        <div class="bubble" style="--size:4.2434997075219485rem; --distance:6.809809056034573rem; --position:52.679871931936376%; --time:2.1683994833190456s; --delay:-2.1174341707769573s;"></div>
        <div class="bubble" style="--size:3.1954895668087477rem; --distance:7.194405108660713rem; --position:54.005694286567206%; --time:2.7555402867376264s; --delay:-3.7839555868406856s;"></div>
        <div class="bubble" style="--size:3.41045754898774rem; --distance:9.151975377738788rem; --position:1.9130345207618067%; --time:2.626251110369767s; --delay:-3.213443245201882s;"></div>
        <div class="bubble" style="--size:5.621272170395439rem; --distance:9.352932769854156rem; --position:26.21902971273152%; --time:2.141589772123946s; --delay:-3.747557048773071s;"></div>
        <div class="bubble" style="--size:2.8506727139566417rem; --distance:9.631690028497818rem; --position:92.55380466521217%; --time:2.5203195307277237s; --delay:-2.3075541321182302s;"></div>
        <div class="bubble" style="--size:4.874957953079695rem; --distance:7.408146282177576rem; --position:65.60219188475875%; --time:3.2393206068768556s; --delay:-2.8544419628589375s;"></div>
        <div class="bubble" style="--size:3.2738755391547096rem; --distance:9.881035217517141rem; --position:98.95466540245505%; --time:2.2454695914899205s; --delay:-2.912391806301328s;"></div>
        <div class="bubble" style="--size:2.7532021321134827rem; --distance:8.848518346807682rem; --position:20.700247468439514%; --time:3.791728355771717s; --delay:-2.4577481486483785s;"></div>
        <div class="bubble" style="--size:3.3365824414275345rem; --distance:7.113934592048709rem; --position:53.77446009956081%; --time:2.7865344688152023s; --delay:-2.0056152165139105s;"></div>
        <div class="bubble" style="--size:4.696892158150293rem; --distance:7.416568261624138rem; --position:54.18469963171708%; --time:2.7527462721835128s; --delay:-3.672357380315319s;"></div>
        <div class="bubble" style="--size:5.0852238892268495rem; --distance:6.502688980366868rem; --position:25.684230290876762%; --time:3.272119467677514s; --delay:-2.1911604383870973s;"></div>
        <div class="bubble" style="--size:4.906229502265237rem; --distance:6.268273682591326rem; --position:97.65347244317869%; --time:2.2891008507478077s; --delay:-3.546575320943146s;"></div>
        <div class="bubble" style="--size:2.8248566766082rem; --distance:9.953145526789378rem; --position:70.82280554092478%; --time:3.7971526932294655s; --delay:-3.043189723029492s;"></div>
        <div class="bubble" style="--size:5.8532469665336775rem; --distance:9.873015174204914rem; --position:49.28293402164519%; --time:2.152051116331195s; --delay:-3.4212715260753s;"></div>
        <div class="bubble" style="--size:2.873965534301952rem; --distance:7.7175340353234745rem; --position:14.708773076996618%; --time:2.444119804462301s; --delay:-3.94830558858239s;"></div>
        <div class="bubble" style="--size:2.3151253863587264rem; --distance:7.528822683855588rem; --position:25.242761630722587%; --time:3.435084477106664s; --delay:-2.0093688823991496s;"></div>
        <div class="bubble" style="--size:3.5664629093557814rem; --distance:7.594168669464036rem; --position:85.96179130313412%; --time:3.295240894416841s; --delay:-3.327965706128128s;"></div>
        <div class="bubble" style="--size:2.932906254224058rem; --distance:7.541060419626123rem; --position:54.00605195682544%; --time:2.072635384969208s; --delay:-2.0296028888146993s;"></div>
        <div class="bubble" style="--size:2.117169883056067rem; --distance:7.37393871574886rem; --position:84.60022271143264%; --time:3.4747617800460135s; --delay:-3.577683126275164s;"></div>
        <div class="bubble" style="--size:3.0992260937126144rem; --distance:8.492106469048586rem; --position:62.68752092002211%; --time:2.4889336195090483s; --delay:-2.2233442659681377s;"></div>
        <div class="bubble" style="--size:3.8383857452710872rem; --distance:6.334142439738277rem; --position:41.28491579728727%; --time:3.6350087370480075s; --delay:-2.1078576364029034s;"></div>
        <div class="bubble" style="--size:4.449827313889925rem; --distance:6.819207976412599rem; --position:77.80530270542896%; --time:2.28618760451244s; --delay:-2.097660758141396s;"></div>
        <div class="bubble" style="--size:3.602564958285rem; --distance:6.404192186529733rem; --position:28.84800330199645%; --time:2.7200100526140294s; --delay:-3.693835685149203s;"></div>
        <div class="bubble" style="--size:5.8013689363084255rem; --distance:6.633718019416634rem; --position:99.20725914609636%; --time:3.000293100267013s; --delay:-2.7088318245602325s;"></div>
        <div class="bubble" style="--size:3.890640086863894rem; --distance:8.877349189696016rem; --position:34.34329586954332%; --time:3.344652011683242s; --delay:-3.136716938526668s;"></div>
        <div class="bubble" style="--size:3.072321164905821rem; --distance:8.717780647424188rem; --position:13.588246769520367%; --time:2.416226793037766s; --delay:-2.6862884255684047s;"></div>
        <div class="bubble" style="--size:3.3751321930666576rem; --distance:8.201766258482966rem; --position:24.659158313694007%; --time:3.8790975151714333s; --delay:-3.7270277520265647s;"></div>
        <div class="bubble" style="--size:2.1471029015032768rem; --distance:6.267979989322246rem; --position:-1.858354410481533%; --time:3.6558401040809234s; --delay:-3.2865856737610275s;"></div>
        <div class="bubble" style="--size:5.831222300292322rem; --distance:8.79701275120899rem; --position:58.59403614003138%; --time:3.1413034695006368s; --delay:-2.060763360761653s;"></div>
        <div class="bubble" style="--size:3.670495031809266rem; --distance:6.708876729829681rem; --position:84.65852438638666%; --time:3.9031078949906752s; --delay:-2.818939279659162s;"></div>
        <div class="bubble" style="--size:2.8699782731127472rem; --distance:7.367321031143729rem; --position:52.22725849158973%; --time:2.391294927079335s; --delay:-3.9667080161390658s;"></div>
        <div class="bubble" style="--size:2.3129796342644235rem; --distance:9.71393919372045rem; --position:9.453629594920441%; --time:3.8146016936175893s; --delay:-2.1763162309872617s;"></div>
        <div class="bubble" style="--size:3.4757297647265046rem; --distance:6.5557939623383925rem; --position:92.04558815099527%; --time:2.2770042133029333s; --delay:-3.6374330699697097s;"></div>
        <div class="bubble" style="--size:3.138810027402025rem; --distance:6.609891292617775rem; --position:96.63104015313695%; --time:2.2276801677994933s; --delay:-3.63532355516239s;"></div>
        <div class="bubble" style="--size:5.081489580229173rem; --distance:9.131302289680317rem; --position:60.28596716415805%; --time:2.8211198361138234s; --delay:-3.5499501755075222s;"></div>
        <div class="bubble" style="--size:5.386417135173629rem; --distance:7.585358373189797rem; --position:13.061700488748727%; --time:3.961439300728685s; --delay:-2.79147260294925s;"></div>
        <div class="bubble" style="--size:2.368095654646087rem; --distance:9.738016422805462rem; --position:42.9336363051089%; --time:2.9072646988467414s; --delay:-3.068307059884406s;"></div>
    </div>
    <div class="content">
        <div>
            <div><b>Eldew</b><a href="#">Secuce</a><a href="#">Drupand</a><a href="#">Oceash</a><a href="#">Ugefe</a><a href="#">Babed</a></div>
            <div><b>Spotha</b><a href="#">Miskasa</a><a href="#">Agithe</a><a href="#">Scesha</a><a href="#">Lulle</a></div>
            <div><b>Chashakib</b><a href="#">Chogauw</a><a href="#">Phachuled</a><a href="#">Tiebeft</a><a href="#">Ocid</a><a href="#">Izom</a><a href="#">Ort</a></div>
            <div><b>Athod</b><a href="#">Pamuz</a><a href="#">Vapert</a><a href="#">Neesk</a><a href="#">Omemanen</a></div>
        </div>
        <div><a class="image" href="https://github.com/Gabox08" target="_blank" style="background-image: url(&quot;https://s3-us-west-2.amazonaws.com/s.cdpn.io/199011/happy.svg&quot;)"></a>
            <p>©2019 Not Really</p>
        </div>
    </div>
</footer>
<svg style="position: fixed; top: 100vh">
    <defs>
        <filter id="blob">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
            <feComposite in="SourceGraphic" in2="blob" operator="atop"></feComposite>
        </filter>
    </defs>
</svg>

<svg style="position: fixed; top: 100vh">
    <defs>
        <filter id="blob">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob"></feColorMatrix>
            <feComposite in="SourceGraphic" in2="blob" operator="atop"></feComposite>
        </filter>
    </defs>
</svg>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>